/* Universal  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.landing__navi-icon {
  font-family: "Fraunces", serif;
}
.landing__navi-links {
  font-family: "Fraunces", serif;
}
.landing__greeting-vanityCard {
  font-family: "Fraunces", serif;
  font-size: 2em;
}
.landing__greeting-vanityCard button {
  background-color: #0078B5;
  font-family: "Fraunces", serif;
  color: #ffffff;
}

.projects__title {
  font-family: "Fraunces", serif;
  font-size: 2em;
}

.about__title {
  font-family: "Fraunces", serif;
  font-size: 2em;
}
.about__content {
  background-color: #C4C4C4;
}
.about__content-text {
  font-size: 1.6em;
  font-family: "Commissioner", sans-serif;
}

.contact__title {
  font-family: "Fraunces", serif;
  font-size: 2em;
}
.contact__form {
  font-family: "Commissioner", sans-serif;
  background-color: #0078B5;
}
.contact__form-submit {
  background-color: #4C926D;
}
.contact__form-submit:hover {
  background-color: green;
}

footer p {
  font-family: "Fraunces", serif;
}
footer ul {
  font-family: "Fraunces", serif;
}

@media only screen and (min-width: 700px) {
  .projects__title {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .about__title {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .contact__title {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
.pageBreak {
  height: 15vh;
  border: 2px solid black;
  overflow: hidden;
  margin: 2vh 0;
}
.pageBreak__svg {
  height: 90%;
  display: block;
}

/* styling the landing */
.landing {
  min-height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
  border: 0;
  padding: 0;
}
.landing__navi {
  margin: 0;
  width: 100%;
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.landing__navi-links {
  padding: 0 5%;
  white-space: nowrap;
  margin-right: 5%;
}
.landing__navi-links a {
  margin: 0 3%;
  display: inline;
}
.landing__navi-icon {
  padding: 0 5%;
  font-weight: bold;
  font-size: 1.5em;
}
.landing__greeting {
  margin: 0;
  border: solid 2px black;
  display: flex;
  height: 90vh;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
}
.landing__greeting-vanityCard {
  border: dotted 2px black;
  align-self: center;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 0 6%;
  margin-left: 7%;
  border-left: 2px solid black;
  height: 80%;
}
.landing__greeting-vanityCard p {
  font-size: 0.7em;
  font-weight: normal;
}
.landing__greeting-vanityCard h1 {
  font-size: 1.5em;
  font-weight: bolder;
}
.landing__greeting-vanityCard h2 {
  font-size: 1em;
  font-weight: normal;
}
.landing__greeting-vanityCard button {
  width: 50%;
  margin-top: 20%;
  padding: 6%;
  font-size: 0.5em;
}
.landing__svg {
  margin: 0;
  width: 100%;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing__svg-img {
  width: 90%;
  height: 100%;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 15% 1fr;
}
.projects__title {
  border: solid 2px black;
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.projects__display {
  grid-area: 3/1/4/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  justify-content: space-evenly;
}
.projects__display-example {
  width: 80%;
  height: 17rem;
  border: solid pink 2px;
  justify-self: center;
  align-self: center;
}
.projects__svg {
  border: solid 2px black;
  grid-area: 2/1/3/2;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__svg-img {
  height: 100%;
}

#projects__display-item4 {
  display: none;
  visibility: hidden;
}

#projects__display-item5 {
  display: none;
  visibility: hidden;
}

#projects__display-item6 {
  display: none;
  visibility: hidden;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr;
  margin: 0;
  border: 0;
  padding: 0;
}
.about__title {
  border: solid 2px black;
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__content {
  border: solid 2px black;
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  margin: 5%;
}
.about__content-text {
  text-align: justify;
  text-justify: inter-word;
  padding-top: 5%;
}
.about__content-img {
  width: 100%;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 0;
  padding: 0;
}
.contact__svg {
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  order: 2;
}
.contact__svg-img {
  height: 100%;
}
.contact__form {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  height: fit-content;
  width: 80%;
  order: 3;
}
.contact__form-label {
  padding-left: 10%;
  padding-bottom: 3%;
}
.contact__form-input {
  display: block;
  width: 80%;
  padding: 2%;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  resize: vertical;
}
.contact__form-submit {
  display: block;
  margin: 5% auto;
  width: 20%;
  padding: 1% 2%;
  border-radius: 4px;
  cursor: pointer;
}
.contact__title {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

footer {
  height: 8vh;
  width: 100%;
  border: solid 2px black;
  min-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  padding: 0 5%;
  white-space: nowrap;
  margin-right: 5%;
  font-size: 0.8em;
}
footer a {
  margin: 0 3%;
  display: inline;
}
footer p {
  padding: 0 5%;
  white-space: nowrap;
  font-size: 0.8rem;
}

@media only screen and (min-width: 482px) {
  .landing {
    min-height: 140vh;
  }
  .landing__navi-links a {
    font-size: 1.2em;
  }
  .landing__navi-icon {
    font-size: 2em;
  }
  .landing__greeting {
    height: 100vh;
  }
  .landing__greeting-vanityCard p {
    font-size: 1em;
  }
  .landing__greeting-vanityCard h1 {
    font-size: 2em;
  }
  .landing__greeting-vanityCard h2 {
    font-size: 1.2em;
  }
  .landing__greeting-vanityCard button {
    width: 50%;
    font-size: 0.6em;
  }
  .landing__svg {
    margin: 0;
    width: 100%;
  }
  .landing__svg-img {
    width: 80%;
  }

  .projects {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
    min-height: 180vh;
  }
  .projects__title {
    grid-area: 2/1/3/2;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
  }
  .projects__display {
    grid-area: 2/2/3/3;
    width: 90%;
    row-gap: 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .projects__display-example {
    width: 90%;
    margin: 1em;
  }
  .projects__svg {
    border: solid 2px black;
    grid-area: 1/1/2/3;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects__svg-img {
    height: 100%;
  }

  #projects__display-item4 {
    display: flex;
    visibility: visible;
  }

  #projects__display-item5 {
    display: none;
    visibility: hidden;
  }

  #projects__display-item6 {
    display: none;
    visibility: hidden;
  }

  .about {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
  }
  .about__title {
    grid-area: 1/2/2/3;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
  }
  .about__content {
    border: solid 2px black;
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5%;
    margin: 0% .about__content -text;
    margin-text-align: justify;
    margin-text-justify: inter-word;
    margin-padding-top: 5%;
  }
  .about__content-img {
    width: 100%;
  }

  .contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;
  }
  .contact__svg {
    grid-area: 1/2/2/3;
    display: flex;
    justify-self: center;
    height: 100%;
  }
  .contact__svg-img {
    height: 100%;
  }
  .contact__form {
    grid-area: 2/2/3/3;
    margin: 0%;
    height: fit-content;
    width: 80%;
    height: 90%;
    justify-self: center;
    display: flex;
    justify-content: space-around;
  }
  .contact__title {
    grid-area: 1/1/3/2;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
  }

  footer ul {
    font-size: 1em;
  }
  footer p {
    font-size: 1em;
  }
}