// defining the color schemes

$yellow: #FCD91F;
$red: #F25230;
$white:#ffffff;
$black: #000000;
$blue: #0078B5;
$grey: #C4C4C4;
$green: #4C926D;
$grey2: #2F3131;
$brown: #392C35;

// defining the fonts 
$headingFont:'Fraunces',
serif;
$bodyFont:'Commissioner',
sans-serif;

// Site wide styles 

// a tags
a {
  text-decoration: none;
  color: $black;

}

// Styling the home page
.landing {

  &__navi {

    &-icon {
      font-family: $headingFont;
    }

    &-links {
      font-family: $headingFont;
    }

  }

  &__greeting {

    &-vanityCard {
      font-family: $headingFont;
      font-size: 2em;

      button {
        background-color: $blue;
        font-family: $headingFont;
        color: $white;

      }
    }
  }
}

.projects {
  &__title {
    font-family: $headingFont;
    font-size: 2em;
  }
}

.about {
  &__title {
    font-family: $headingFont;
    font-size: 2em;
  }

  &__content {
    background-color: $grey;

    &-text {
      font-size: 1.6em;
      font-family: $bodyFont;

    }
  }
}


.contact {

  &__title {
    font-family: $headingFont;
    font-size: 2em;
  }

  &__form {
    font-family: $bodyFont;
    background-color: $blue;

    &-label {}

    &-input {}

    &-submit {

      background-color: $green;
    }


    &-submit:hover {
      background-color: green;
    }
  }
}


footer {
  p {
    font-family: $headingFont;
  }

  ul {
    font-family: $headingFont;
    font-weight: bold;
  }
}




// Desktop! 

@media only screen and (min-width: 800px) {
  .projects {
    &__title {
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }

  .about {
    &__title {
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }

  .contact {

    &__title {
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }

}


.projects {

  background-color: $grey;


  &__display {}


  &__svg {}

  &__title {
    background-color: $white;
  }




  
}