
.pageBreak {
  height: 15vh;
  border: 2px solid black;
  overflow: hidden;
  margin: 2vh 0;

  &__svg {
    height: 90%;
    display: block;
  }

}


.landing {
  min-height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
  border: 0;
  padding: 0;


  &__navi {
    margin: 0;
    width: 100%;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-links {
      padding: 0 5%;
      white-space: nowrap;
      margin-right: 5%;
    }

    &-links a {
      margin: 0 3%;
      display: inline;
    }

    &-icon {
      padding: 0 5%;
      font-weight: bold;
      font-size: 1.5em;
    }
  }


  &__greeting {
    margin: 0;
    border: solid 2px black;
    display: flex;
    height: 90vh;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;





    &-vanityCard {
      border: dotted 2px black;
      align-self: center;
      margin: auto;

      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 0 0 6%;
      margin-left: 7%;
      border-left: 2px solid black;
      height: 80%;

      p {
        font-size: 0.7em;
        font-weight: normal;
      }

      h1 {
        font-size: 1.5em;
        font-weight: bolder;
      }

      h2 {
        font-size: 1em;
        font-weight: normal;
      }

      button {
        width: 50%;
        margin-top: 20%;
        padding: 6%;
        font-size: 0.5em;

      }
    }
  }

  &__svg {
    margin: 0;
    width: 100%;
    //height: fit-content;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-img {
      width: 90%;
      height: 100%;
    }
  }
}

.projects {

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 15% 1fr;


  &__title {
    border: solid 2px black;
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__display {
    // border: solid 2px black;
    grid-area: 3/1/4/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    justify-content: space-evenly;


    &-example {
      width: 80%;
      height: 17rem;
      border: solid pink 2px;
      justify-self: center;
      align-self: center;

    }
  }

  &__svg {
    border: solid 2px black;
    grid-area: 2/1/3/2;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &-img {
      height: 100%;
    }
  }
}

#projects__display-item4 {
  display: none;
  visibility: hidden;
}


#projects__display-item5 {
  display: none;
  visibility: hidden;
}

#projects__display-item6 {
  display: none;
  visibility: hidden;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr;
  margin: 0;
  border: 0;
  padding: 0;

  &__title {
    border: solid 2px black;
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    border: solid 2px black;
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 5%;

    &-text {
      text-align: justify;
      text-justify: inter-word;
      padding-top: 5%;
    }

    &-img {
      width: 100%;
    }


  }
}

.contact {
  // min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 0;
  padding: 0;

  &__svg {
    border: solid 2px black;
    // grid-area: 2/1/3/2;
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 100%;
    width: 50%;
    order: 2;

    &-img {
      height: 100%;
    }
  }


  &__form {
    border: solid 2px black;
    // grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-evenly;
    //padding: 5% 0 5% 0;
    margin: 5%;
    // width:fit-content;
    height: fit-content;
    width: 80%;
    order: 3;

    &-label {
      padding-left: 10%;
      padding-bottom: 3%;
    }

    &-input {

      display: block;
      width: 80%;
      padding: 2%;
      /* Some padding */
      border: 1px solid #ccc;
      /* Gray border */
      border-radius: 4px;
      /* Rounded borders */
      box-sizing: border-box;
      /* Make sure that padding and width stays in place */
      // margin: 6% 0%;
      resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */

    }

    &-submit {
      display: block;
      margin: 5% auto;
      width: 20%;
      padding: 1% 2%;
      border-radius: 4px;
      cursor: pointer;
    }


  }


  &__title {
    border: solid 2px black;
    // grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }
}

footer {
  height: 8vh;
  width: 100%;
  border: solid 2px black;
  min-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    padding: 0 5%;
    white-space: nowrap;
    margin-right: 5%;
    font-size: 0.8em;

  }

  a {
    margin: 0 3%;
    display: inline;

  }

  p {
    padding: 0 5%;
    white-space: nowrap;
    font-size: 0.8rem;

  }

}

@media only screen and (min-width: 482px) {


  .landing {
    min-height: 140vh;



    &__navi {


      &-links {}

      &-links a {
        font-size: 1.2em;
      }

      &-icon {
        font-size: 2em;
      }
    }


    &__greeting {

      height: 100vh;


      &-vanityCard {

        p {
          font-size: 1em;
        }

        h1 {
          font-size: 2em;
        }

        h2 {
          font-size: 1.2em;
        }

        button {
          width: 50%;
          font-size: 0.6em;
        }
      }
    }

    &__svg {
      margin: 0;
      width: 100%;


      &-img {
        width: 80%;
      }
    }
  }


  .projects {

    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
    min-height: 180vh;


    &__title {

      grid-area: 2/1/3/2;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 1.1em;
    }

    &__display {
      grid-area: 2/2/3/3;
      width: 90%;
      row-gap: 2em;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;


      &-example {
        width: 90%;
        margin: 1em;

      }
    }

    &__svg {
      border: solid 2px black;
      grid-area: 1/1/2/3;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      &-img {
        height: 100%;
      }
    }
  }

  #projects__display-item4 {
    display: flex;
    visibility: visible;
  }


  #projects__display-item5 {
    display: none;
    visibility: hidden;
  }

  #projects__display-item6 {
    display: none;
    visibility: hidden;
  }


  .about {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;


    &__title {

      grid-area: 1/2/2/3;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 1.1em;

    }

    &__content {
      border: solid 2px black;
      grid-area: 1/1/2/2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 5%;

      margin: 0% &-text {
        text-align: justify;
        text-justify: inter-word;
        padding-top: 5%;
      }

      &-img {
        width: 100%;
      }
    }
  }

  .contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;

    &__svg {
      grid-area: 1/2/2/3;
      display: flex;
      justify-self: center;
      height: 100%;

      &-img {
        height: 100%;
      }
    }
    &__form {

      grid-area: 2/2/3/3;
      margin: 0%;
      height: fit-content;
      width: 80%;
      height: 90%;
      justify-self: center;
      display: flex;
      justify-content: space-around;

      &-label {}

      &-input {}

      &-submit {}


    }
    &__title {

      grid-area: 1/1/3/2;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 1.1em;
    }
  }

  footer {
    ul {
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }
  }
}


// Desktop
@media only screen and (min-width: 770px) {


  .landing {
    min-height: 140vh;



    &__navi {


      &-links {}

      &-links a {
        font-size: 1.2em;
      }

      &-icon {
        font-size: 2em;
      }
    }


    &__greeting {

      height: 100vh;


      &-vanityCard {

        p {
          font-size: 1em;
        }

        h1 {
          font-size: 2em;
        }

        h2 {
          font-size: 1.2em;
        }

        button {
          width: 50%;
          font-size: 0.6em;
        }
      }
    }

    &__svg {
      margin: 0;
      width: 100%;


      &-img {
        width: 80%;
      }
    }
  }


  .projects {

    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
    min-height: 180vh;


    &__title {

      grid-area: 2/1/3/2;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 1.1em;
    }

    &__display {
      grid-area: 2/2/3/3;
      width: 90%;
      row-gap: 2em;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;


      &-example {
        width: 90%;
        margin: 1em;

      }
    }

    &__svg {
      border: solid 2px black;
      grid-area: 1/1/2/3;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      &-img {
        height: 100%;
      }
    }
  }

  #projects__display-item4 {
    display: flex;
    visibility: visible;
  }


  #projects__display-item5 {
    display: none;
    visibility: hidden;
  }

  #projects__display-item6 {
    display: none;
    visibility: hidden;
  }


  .about {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;


    &__title {

      grid-area: 1/2/2/3;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 1.1em;

    }

    &__content {
      border: solid 2px black;
      grid-area: 1/1/2/2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 5%;

      margin: 0% &-text {
        text-align: justify;
        text-justify: inter-word;
        padding-top: 5%;
      }

      &-img {
        width: 100%;
      }
    }
  }

  .contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;

    &__svg {
      grid-area: 1/2/2/3;
      display: flex;
      justify-self: center;
      height: 100%;

      &-img {
        height: 100%;
      }
    }
    &__form {

      grid-area: 2/2/3/3;
      margin: 0%;
      height: fit-content;
      width: 80%;
      height: 90%;
      justify-self: center;
      display: flex;
      justify-content: space-around;

      &-label {}

      &-input {}

      &-submit {}


    }
    &__title {

      grid-area: 1/1/3/2;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 1.1em;
    }
  }

  footer {
    ul {
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }
  }
}