.pageBreak {
  height: 7em;
  border: 2px solid black;
  overflow: clip;
  display: flex;
  align-items: center;
  padding: 0;
}
.pageBreak__svg {
  height: 600%;
  width: 600%;
  display: block;
}

.landing {
  min-height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
  border: 0;
  padding: 0;
}
.landing__navi {
  margin: 0;
  width: 100%;
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.landing__navi-links {
  padding: 0 5%;
  white-space: nowrap;
  margin-right: 5%;
}
.landing__navi-links a {
  margin: 0 3%;
  display: inline;
}
.landing__navi-icon {
  padding: 0 5%;
  font-weight: bold;
  font-size: 1.5em;
}
.landing__greeting {
  margin: 0;
  border: solid 2px black;
  display: flex;
  height: 90vh;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
}
.landing__greeting-vanityCard {
  border: dotted 2px black;
  align-self: center;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 0 6%;
  margin-left: 7%;
  border-left: 2px solid black;
  height: 80%;
}
.landing__greeting-vanityCard p {
  font-size: 0.7em;
  font-weight: normal;
}
.landing__greeting-vanityCard h1 {
  font-size: 1.5em;
  font-weight: bolder;
}
.landing__greeting-vanityCard h2 {
  font-size: 1em;
  font-weight: normal;
}
.landing__greeting-vanityCard button {
  width: 50%;
  margin-top: 20%;
  padding: 6%;
  font-size: 0.5em;
}
.landing__svg {
  margin: 0;
  width: 100%;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing__svg-img {
  width: 90%;
  height: 100%;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 1fr 10% 15%;
}
.projects__title {
  border: solid 2px black;
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.projects__display {
  grid-area: 2/1/3/2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  justify-content: space-evenly;
}
.projects__display-example {
  width: 280px;
  height: 250px;
  border: solid pink 2px;
  justify-self: center;
  align-self: center;
}
.projects__viewMore {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: center;
  align-content: center;
}
.projects__svg {
  border: solid 2px black;
  grid-area: 4/1/5/2;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__svg-img {
  height: 100%;
}

#projects__display-item4 {
  display: none;
  visibility: hidden;
}

#projects__display-item5 {
  display: none;
  visibility: hidden;
}

#projects__display-item6 {
  display: none;
  visibility: hidden;
}

.about {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr;
  margin: 0;
  border: 0;
  padding: 0;
}
.about__title {
  border: solid 2px black;
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__content {
  border: solid 2px black;
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  margin: 5%;
}
.about__content-text {
  text-align: justify;
  text-justify: inter-word;
  padding-top: 5%;
}
.about__content-img {
  width: 100%;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 0;
  padding: 0;
}
.contact__svg {
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  order: 2;
  height: 100vh;
}
.contact__svg-img {
  height: 100%;
}
.contact__form {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  height: fit-content;
  width: 80%;
  order: 3;
}
.contact__form-label {
  padding-left: 10%;
  padding-bottom: 3%;
}
.contact__form-input {
  display: block;
  width: 80%;
  padding: 2%;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  resize: vertical;
}
.contact__form-submit {
  display: block;
  margin: 5% auto;
  width: 20%;
  padding: 1% 2%;
  border-radius: 4px;
  cursor: pointer;
}
.contact__title {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

footer {
  height: 8vh;
  width: 100%;
  border: solid 2px black;
  min-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  padding: 0 5%;
  white-space: nowrap;
  margin-right: 5%;
  font-size: 0.8em;
}
footer a {
  margin: 0 3%;
  display: inline;
}
footer p {
  padding: 0 5%;
  white-space: nowrap;
  font-size: 0.8rem;
}

@media only screen and (min-width: 482px) {
  .landing {
    min-height: 140vh;
  }
  .landing__navi-links a {
    font-size: 1.2em;
  }
  .landing__navi-icon {
    font-size: 2em;
  }
  .landing__greeting {
    height: 100vh;
  }
  .landing__greeting-vanityCard p {
    font-size: 1em;
  }
  .landing__greeting-vanityCard h1 {
    font-size: 2em;
  }
  .landing__greeting-vanityCard h2 {
    font-size: 1.2em;
  }
  .landing__greeting-vanityCard button {
    width: 50%;
    font-size: 0.6em;
  }
  .landing__svg {
    margin: 0;
    width: 100%;
  }
  .landing__svg-img {
    width: 80%;
  }

  .projects {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
    min-height: 180vh;
  }
  .projects__title {
    grid-area: 2/1/3/2;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
  }
  .projects__display {
    grid-area: 2/2/3/3;
    width: 90%;
    row-gap: 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .projects__display-example {
    width: 90%;
    margin: 1em;
  }
  .projects__svg {
    border: solid 2px black;
    grid-area: 1/1/2/3;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects__svg-img {
    height: 100%;
  }

  #projects__display-item4 {
    display: flex;
    visibility: visible;
  }

  #projects__display-item5 {
    display: none;
    visibility: hidden;
  }

  #projects__display-item6 {
    display: none;
    visibility: hidden;
  }

  .about {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
  }
  .about__title {
    grid-area: 1/2/2/3;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
  }
  .about__content {
    border: solid 2px black;
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5%;
    margin: 0% .about__content -text;
    margin-text-align: justify;
    margin-text-justify: inter-word;
    margin-padding-top: 5%;
  }
  .about__content-img {
    width: 100%;
  }

  .contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40% 60%;
  }
  .contact__svg {
    grid-area: 1/2/2/3;
    display: flex;
    justify-self: center;
    height: 100%;
  }
  .contact__svg-img {
    height: 100%;
  }
  .contact__form {
    grid-area: 2/2/3/3;
    margin: 0%;
    height: fit-content;
    width: 80%;
    height: 90%;
    justify-self: center;
    display: flex;
    justify-content: space-around;
  }
  .contact__title {
    grid-area: 1/1/3/2;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
    font-size: 1.4em;
  }

  footer ul {
    font-size: 1em;
  }
  footer p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 800px) {
  .landing {
    min-height: 5vh;
    height: 100vh;
    max-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 2% 98%;
    align-items: flex-start;
    justify-items: flex-start;
  }
  .landing__navi {
    width: 100%;
    grid-area: 1/1/2/2;
  }
  .landing__navi-links a {
    font-size: 1.2em;
  }
  .landing__navi-icon {
    font-size: 2em;
  }
  .landing__greeting {
    grid-area: 2/1/3/2;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    height: 100%;
  }
  .landing__greeting-vanityCard p {
    font-size: 1em;
  }
  .landing__greeting-vanityCard h1 {
    font-size: 2em;
  }
  .landing__greeting-vanityCard h2 {
    font-size: 1.2em;
  }
  .landing__greeting-vanityCard button {
    width: 50%;
    font-size: 0.6em;
  }
  .landing__svg {
    margin: 0;
    height: fit-content;
    grid-area: 1/2/3/3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .landing__svg-img {
    width: 100%;
    margin: 0;
  }

  .projects {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 10%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }
  .projects__title {
    grid-area: 1/3/2/4;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.9em;
    height: 100%;
    font-size: 1em;
    align-self: center;
    justify-self: center;
  }
  .projects__display {
    grid-area: 1/2/2/3;
    width: 90%;
    height: 80%;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: red;
    gap: 0;
  }
  .projects__display-example {
    width: 170px;
    height: 270px;
    background-color: black;
  }
  .projects__svg {
    border: solid 2px black;
    grid-area: 1/1/2/2;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects__svg-img {
    width: 100%;
  }

  #projects__display-item4 {
    display: flex;
    visibility: visible;
  }

  #projects__display-item5 {
    display: flex;
    visibility: visible;
  }

  #projects__display-item6 {
    display: flex;
    visibility: visible;
  }

  .about {
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
  }
  .about__title {
    grid-area: 1/1/2/2;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
  }
  .about__content {
    border: solid 2px black;
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin: 0%;
  }
  .about__content-text {
    text-align: justify;
    text-justify: inter-word;
    padding-top: 5%;
  }
  .about__content-img {
    width: 100%;
  }

  .contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 10%;
    grid-template-rows: 1fr;
  }
  .contact__svg {
    grid-area: 1/1/2/2;
    display: flex;
    justify-self: center;
    height: 90%;
    width: 100%;
  }
  .contact__svg-img {
    height: 90%;
  }
  .contact__form {
    grid-area: 1/2/2/3;
    margin: 0%;
    height: fit-content;
    width: 80%;
    height: 90%;
    justify-self: center;
    display: flex;
    justify-content: space-around;
  }
  .contact__title {
    grid-area: 1/3/2/4;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1.1em;
    width: 100%;
    height: 90%;
  }

  footer ul {
    font-size: 1em;
  }
  footer p {
    font-size: 1em;
  }
}